.contact {
  border-top: 1px solid rgb(243, 240, 240);
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.main__touch {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  padding: 2rem 0;
}

.main__find, .main__email, .main__talk {
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
  padding-bottom:1rem;
}

.socials {
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 4rem;
}

.phone, .email {
  width: 70vw;
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}

@media only screen and (min-width: 450px) {
  .email, .phone, .socials {
    width: 40%;
  }
}
