.navbar__list {
  position: sticky;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.5rem;
}

.navbar__item {
  color: #FFFBFB;
  text-decoration: none;
  font-size: larger;
  padding: 0.3rem 0.5rem;
}

.active {
  background-color: rgb(243, 240, 240);
  color: rgb(59, 56, 56);
  border-radius: 4px;
}
