@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #FFFBFB;
  text-shadow: 2px 2px 4px #242323;
}

body {
  background-color: #5d5c5c;
}

html {
  scroll-behavior: smooth;
}

#root {
  max-width: 800px;
  margin: auto;
  background-color: #323232;
}
